<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elkin.aiassistant">

    <!-- PERMISO OBLIGATORIO PARA LA BURBUJA -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono_app"
        android:label="IA Assistant"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Splash Screen al inicio -->
        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Menú principal -->
        <activity android:name=".MainActivity" android:exported="false"/>

        <!-- Servicio de la burbuja -->
        <service android:name=".FloatingWindowService" android:enabled="true" android:exported="false" />
    </application>
</manifest>
